# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.EindOpdrachtLeandro.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Gebruiker\source\repos\1Ste jaar\EindOpdrachtLeandro\.idea\.idea.EindOpdrachtLeandro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
